@charset "utf-8";

/*reset*/

body {
	font-family: "source_sans_proregular", Arial, Helvetica, Tahoma, sans-serif
}

h1,
h2,
h3,
h4,
h5,
.custom-caption p,
span.dropcap1,
span.dropcap2,
span.dropcap3,
span.dropcap4,
.spb_call_text,
.impact-text,
.impact-text-large,
.testimonial-text,
.header-advert,
.sf-count-asset .count-number,
#base-promo,
.sf-countdown,
.sf-icon-character,
.fancy-heading h1 {
	font-family: "Museo500Regular", Arial, Helvetica, Tahoma, sans-serif
}

.sf-button,
h6,
.standard-post-date,
.sf-count-asset h6.count-subject,
.progress-bar-wrap .bar-text>span.progress-value,
.portfolio-showcase-wrap ul li .item-info span.item-title,
table.sf-table th,
.team-member figcaption span,
.read-more-button,
.pagination-wrap li span.current,
#respond .form-submit input#submit,
.twitter-link a,
.comment-meta .comment-author,
.woocommerce span.onsale,
.woocommerce .wc-new-badge,
.woocommerce .out-of-stock-badge,
.woocommerce .free-badge,
.woocommerce a.button.alt,
.woocommerce .coupon input.apply-coupon,
.bag-product-title a,
.woocommerce .shipping-calculator-form .update-totals-button button,
table.totals_table tr.total,
.woocommerce .button.update-cart-button,
.woocommerce .button.checkout-button,
#product-accordion .accordion-toggle,
.woocommerce ul.products li.product-category h3 {
	font-family: "source_sans_probold", Arial, Helvetica, Tahoma, sans-serif;
	letter-spacing: 1.8px;
	font-weight: normal !important
}

body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	-webkit-font-smoothing: antialiased
}

body.modal-open {
	margin-right: 0
}

body.layout-fullwidth.header-aux-open,
body.layout-fullwidth.header-aux-closing {
	-webkit-perspective: 1200px;
	perspective: 1200px
}

a {
	outline: 0 !important;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out
}

a:hover,
a:focus {
	text-decoration: none
}

a:active {
	outline: 0
}

a:focus {
	-moz-outline-style: none;
	outline: 0;
	text-decoration: none
}

h1 {
	font-size: 30px;
	line-height: 42px
}

h2 {
	font-size: 24px;
	line-height: 32px
}

h3 {
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	margin-bottom: 15px
}

h4 {
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 15px
}

h5 {
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	margin-bottom: 15px
}

h6 {
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	margin-bottom: 10px;
	text-transform: uppercase
}

p {
	font-size: 14px;
	line-height: 170%;
	margin: 0 0 24px
}

ul {
	list-style: none;
	margin: 0 0 0;
	padding: 0
}
input{
	outline: none;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-left: 0
}

a.text-link {
	border-bottom: 1px dotted #e3e3e3
}

.no-js-alert {
	background: none repeat scroll 0 0 #222;
	color: #fff;
	font-size: 24px;
	height: 100%;
	left: 0;
	-moz-opacity: .9;
	opacity: .9;
	filter: alpha(opacity=90);
	padding: 20% 5% 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 90%;
	z-index: 9999;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0)
}

.clearfix {
	clear: none !important
}
.clearf:after {
	content:'';
	clear: both;
	display: block;
}

i[class^="fa-"] {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.pos_rel {
	position: relative;
}

.span1, .span2,.span25, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
	float: left;
}
.span12 {
	width: 100%;
}
.span11 {
	width: 91.66666667%;
}
.span10 {
	width: 83.33333333%;
}
.span9 {
	width: 75%;
}
.span8 {
	width: 66.66666667%;
}
.span7 {
	width: 58.33333333%;
}
.span6 {
	width: 50%;
}
.span5 {
	width: 41.66666667%;
}
.span4 {
	width: 33.33333333%;
}
.span3 {
	width: 25%;
}
.span25{
	width: 20%;
}
.span2 {
	width: 16.66666667%;
}
.span1 {
	width: 8.33333333%;
}


@media only screen and (max-width:767px) {
	.col-xs-1,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12,
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12 {
		margin-bottom: 30px
	}
}


@media (min-width: 768px){
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {
	    float: left;
	}
	.col-sm-12 {
		width: 100%
	}
	.col-sm-11 {
		width: 91.66666666666666%
	}
	.col-sm-10 {
		width: 83.33333333333334%
	}
	.col-sm-9 {
		width: 75%
	}
	.col-sm-8 {
		width: 66.66666666666666%
	}
	.col-sm-7 {
		width: 58.333333333333336%
	}
	.col-sm-6 {
		width: 50%
	}
	.col-sm-5 {
		width: 41.66666666666667%
	}
	.col-sm-4 {
		width: 33.33333333333333%
	}
	.col-sm-3 {
		width: 25%
	}
	.col-sm-2 {
		width: 16.666666666666664%
	}
	.col-sm-1 {
		width: 8.333333333333332%
	}
	.col-sm-pull-12 {
		right: 100%
	}
	.col-sm-pull-11 {
		right: 91.66666666666666%
	}
	.col-sm-pull-10 {
		right: 83.33333333333334%
	}
	.col-sm-pull-9 {
		right: 75%
	}
	.col-sm-pull-8 {
		right: 66.66666666666666%
	}
	.col-sm-pull-7 {
		right: 58.333333333333336%
	}
	.col-sm-pull-6 {
		right: 50%
	}
	.col-sm-pull-5 {
		right: 41.66666666666667%
	}
	.col-sm-pull-4 {
		right: 33.33333333333333%
	}
	.col-sm-pull-3 {
		right: 25%
	}
	.col-sm-pull-2 {
		right: 16.666666666666664%
	}
	.col-sm-pull-1 {
		right: 8.333333333333332%
	}
	.col-sm-pull-0 {
		right: 0
	}
	.col-sm-push-12 {
		left: 100%
	}
	.col-sm-push-11 {
		left: 91.66666666666666%
	}
	.col-sm-push-10 {
		left: 83.33333333333334%
	}
	.col-sm-push-9 {
		left: 75%
	}
	.col-sm-push-8 {
		left: 66.66666666666666%
	}
	.col-sm-push-7 {
		left: 58.333333333333336%
	}
	.col-sm-push-6 {
		left: 50%
	}
	.col-sm-push-5 {
		left: 41.66666666666667%
	}
	.col-sm-push-4 {
		left: 33.33333333333333%
	}
	.col-sm-push-3 {
		left: 25%
	}
	.col-sm-push-2 {
		left: 16.666666666666664%
	}
	.col-sm-push-1 {
		left: 8.333333333333332%
	}
	.col-sm-push-0 {
		left: 0
	}
	.col-sm-offset-12 {
		margin-left: 100%
	}
	.col-sm-offset-11 {
		margin-left: 91.66666666666666%
	}
	.col-sm-offset-10 {
		margin-left: 83.33333333333334%
	}
	.col-sm-offset-9 {
		margin-left: 75%
	}
	.col-sm-offset-8 {
		margin-left: 66.66666666666666%
	}
	.col-sm-offset-7 {
		margin-left: 58.333333333333336%
	}
	.col-sm-offset-6 {
		margin-left: 50%
	}
	.col-sm-offset-5 {
		margin-left: 41.66666666666667%
	}
	.col-sm-offset-4 {
		margin-left: 33.33333333333333%
	}
	.col-sm-offset-3 {
		margin-left: 25%
	}
	.col-sm-offset-2 {
		margin-left: 16.666666666666664%
	}
	.col-sm-offset-1 {
		margin-left: 8.333333333333332%
	}
	.col-sm-offset-0 {
		margin-left: 0
	}
}


@media(min-width:992px) {
	.container {
	width:970px
}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11 {
	float:left
}
.col-md-12 {
	width:100%
}
.col-md-11 {
	width:91.66666666666666%
}
.col-md-10 {
	width:83.33333333333334%
}
.col-md-9 {
	width:75%
}
.col-md-8 {
	width:66.66666666666666%
}
.col-md-7 {
	width:58.333333333333336%
}
.col-md-6 {
	width:50%
}
.col-md-5 {
	width:41.66666666666667%
}
.col-md-4 {
	width:33.33333333333333%
}
.col-md-3 {
	width:25%
}
.col-md-2 {
	width:16.666666666666664%
}
.col-md-1 {
	width:8.333333333333332%
}
.col-md-pull-12 {
	right:100%
}
.col-md-pull-11 {
	right:91.66666666666666%
}
.col-md-pull-10 {
	right:83.33333333333334%
}
.col-md-pull-9 {
	right:75%
}
.col-md-pull-8 {
	right:66.66666666666666%
}
.col-md-pull-7 {
	right:58.333333333333336%
}
.col-md-pull-6 {
	right:50%
}
.col-md-pull-5 {
	right:41.66666666666667%
}
.col-md-pull-4 {
	right:33.33333333333333%
}
.col-md-pull-3 {
	right:25%
}
.col-md-pull-2 {
	right:16.666666666666664%
}
.col-md-pull-1 {
	right:8.333333333333332%
}
.col-md-pull-0 {
	right:0
}
.col-md-push-12 {
	left:100%
}
.col-md-push-11 {
	left:91.66666666666666%
}
.col-md-push-10 {
	left:83.33333333333334%
}
.col-md-push-9 {
	left:75%
}
.col-md-push-8 {
	left:66.66666666666666%
}
.col-md-push-7 {
	left:58.333333333333336%
}
.col-md-push-6 {
	left:50%
}
.col-md-push-5 {
	left:41.66666666666667%
}
.col-md-push-4 {
	left:33.33333333333333%
}
.col-md-push-3 {
	left:25%
}
.col-md-push-2 {
	left:16.666666666666664%
}
.col-md-push-1 {
	left:8.333333333333332%
}
.col-md-push-0 {
	left:0
}
.col-md-offset-12 {
	margin-left:100%
}
.col-md-offset-11 {
	margin-left:91.66666666666666%
}
.col-md-offset-10 {
	margin-left:83.33333333333334%
}
.col-md-offset-9 {
	margin-left:75%
}
.col-md-offset-8 {
	margin-left:66.66666666666666%
}
.col-md-offset-7 {
	margin-left:58.333333333333336%
}
.col-md-offset-6 {
	margin-left:50%
}
.col-md-offset-5 {
	margin-left:41.66666666666667%
}
.col-md-offset-4 {
	margin-left:33.33333333333333%
}
.col-md-offset-3 {
	margin-left:25%
}
.col-md-offset-2 {
	margin-left:16.666666666666664%
}
.col-md-offset-1 {
	margin-left:8.333333333333332%
}
.col-md-offset-0 {
	margin-left:0
}
}


@media(min-width:1200px) {
	.container {
	width:1170px
}
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11 {
	float:left
}
.col-lg-12 {
	width:100%
}
.col-lg-11 {
	width:91.66666666666666%
}
.col-lg-10 {
	width:83.33333333333334%
}
.col-lg-9 {
	width:75%
}
.col-lg-8 {
	width:66.66666666666666%
}
.col-lg-7 {
	width:58.333333333333336%
}
.col-lg-6 {
	width:50%
}
.col-lg-5 {
	width:41.66666666666667%
}
.col-lg-4 {
	width:33.33333333333333%
}
.col-lg-3 {
	width:25%
}
.col-lg-2 {
	width:16.666666666666664%
}
.col-lg-1 {
	width:8.333333333333332%
}
.col-lg-pull-12 {
	right:100%
}
.col-lg-pull-11 {
	right:91.66666666666666%
}
.col-lg-pull-10 {
	right:83.33333333333334%
}
.col-lg-pull-9 {
	right:75%
}
.col-lg-pull-8 {
	right:66.66666666666666%
}
.col-lg-pull-7 {
	right:58.333333333333336%
}
.col-lg-pull-6 {
	right:50%
}
.col-lg-pull-5 {
	right:41.66666666666667%
}
.col-lg-pull-4 {
	right:33.33333333333333%
}
.col-lg-pull-3 {
	right:25%
}
.col-lg-pull-2 {
	right:16.666666666666664%
}
.col-lg-pull-1 {
	right:8.333333333333332%
}
.col-lg-pull-0 {
	right:0
}
.col-lg-push-12 {
	left:100%
}
.col-lg-push-11 {
	left:91.66666666666666%
}
.col-lg-push-10 {
	left:83.33333333333334%
}
.col-lg-push-9 {
	left:75%
}
.col-lg-push-8 {
	left:66.66666666666666%
}
.col-lg-push-7 {
	left:58.333333333333336%
}
.col-lg-push-6 {
	left:50%
}
.col-lg-push-5 {
	left:41.66666666666667%
}
.col-lg-push-4 {
	left:33.33333333333333%
}
.col-lg-push-3 {
	left:25%
}
.col-lg-push-2 {
	left:16.666666666666664%
}
.col-lg-push-1 {
	left:8.333333333333332%
}
.col-lg-push-0 {
	left:0
}
.col-lg-offset-12 {
	margin-left:100%
}
.col-lg-offset-11 {
	margin-left:91.66666666666666%
}
.col-lg-offset-10 {
	margin-left:83.33333333333334%
}
.col-lg-offset-9 {
	margin-left:75%
}
.col-lg-offset-8 {
	margin-left:66.66666666666666%
}
.col-lg-offset-7 {
	margin-left:58.333333333333336%
}
.col-lg-offset-6 {
	margin-left:50%
}
.col-lg-offset-5 {
	margin-left:41.66666666666667%
}
.col-lg-offset-4 {
	margin-left:33.33333333333333%
}
.col-lg-offset-3 {
	margin-left:25%
}
.col-lg-offset-2 {
	margin-left:16.666666666666664%
}
.col-lg-offset-1 {
	margin-left:8.333333333333332%
}
.col-lg-offset-0 {
	margin-left:0
}
}



.mt0 {
	margin-top: 0 !important
}

.mb0 {
	margin-bottom: 0 !important
}
.mb30 {
	margin-bottom: 30px;
}

.mr0 {
	margin-right: 0 !important
}

.ml0 {
	margin-left: 0 !important
}

.pt0 {
	padding-top: 0 !important
}

.pb0 {
	padding-bottom: 0 !important
}

.pr0 {
	padding-right: 0 !important
}

.pl0 {
	padding-left: 0 !important
}

.bt0 {
	border-top: 0 !important
}

.bb0 {
	border-bottom: 0 !important
}

.no-shadow {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important
}

.no-arrow:after {
	display: none !important
}

.pmb0 p {
	margin-bottom: 0 !important
}
.clearfix:after{
	content:"";
	display: block;
	clear:both;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
